.ParcelTable {
    margin-top: 15px;
    width: 100%
}

.ParcelListPage {
    background-color: #f9f9f9;
}

.ParcelAndEditButton {
    width: 90%;
    display: grid;
    grid-template-columns: 92% 8%;
    column-gap: 12px;
}